$primary: #073f6f;
$secondary: #fc5157;
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.scss";

body {
  @extend .text-primary;
  font-size: 15px;
}

.glass-white {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.4px);
  -webkit-backdrop-filter: blur(6.4px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-container {
  height: 300px !important;
  img {
    object-fit: cover;
    object-position: bottom;
  }
}
.featurette-row {
  &:nth-child(odd) {
    .col {
      &:nth-child(odd) {
        order: 1;
      }
    }
  }
}

.swiper-slide {
  min-height: 50vh !important;
  .swiper-slide-background {
    height: 50vh !important;
    position: relative;
    img {
      object-fit: cover;
    }
  }
}

.services-container {
  @extend .container, .py-4;
  .services-heading {
    @extend .mb-4;
    h2 {
      @extend .text-center;
    }
  }
}

.services {
  .service {
    .service-inner {
      @extend .overflow-hidden, .rounded, .rounded-4, .shadow, .card, .border-0, .h-100, .position-relative;
      .service-header {
      }
    }
  }
}

.service-image {
  object-fit: cover;
  object-position: center;
}
.service-icon {
  @extend .d-block, .position-relative, .rounded-circle, .p-2, .bg-warning, .shadow, .text-light;
  aspect-ratio: 1/1;
  width: 5rem;
  height: 5rem;
  top: -2rem;
  left: 62%;
  i {
    @extend .position-absolute, .h1, .absolute-center;
  }
}

.why-choose-us {
  @extend .col;
  .content {
    @extend .p-4;
  }
  font-size: 17px;
}

.hero-container {
}

.hero-image {
  @extend .position-relative;
  img {
    @extend .position-absolute;
    bottom: -5rem;
    left: -5rem;
    width: 120%;
    height: 120%;
  }
}
.hero-bg {
  display: block;
  position: absolute;
  z-index: -100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    z-index: -99;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  }
}

.hero-content {
  @extend .rounded-4, .p-5, .glass-white;
}

.hero-container {
  &::after {
    content: "";
    position: absolute;
    display: block;
    z-index: -5;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.6));
  }
}

.importance-list {
  @extend .mb-0;
  list-style: armenian outside url("../../public/images/icons/check-circle.svg");
}

.border-funky-1 {
  border-radius: 38% 62% 46% 54% / 75% 38% 62% 25%;
}

.border-funky-2 {
  border-radius: 22% 78% 23% 77% / 42% 56% 44% 58%;
}

.footer-list-item-link {
  display: inline-block;
  border: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  background: none;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  &:hover {
    filter: brightness(80%);
  }
  &:focus {
    background: none;
  }
  &:focus {
    outline: none;
    outline-offset: -4px;
  }
  @extend .nav-link;
}
